<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Questão 1</title>
</head>
<body>
  <div id="app">
    {{ mensagem }}
  </div>

  <script>
    class ClasseJS {
      constructor({ el, data }) {
        this.el = el;
        this.data = data;

        this.parseTemplate();
      };

      parseTemplate() {
        const domElement = document.querySelector(this.el);
        const elementValue = domElement.innerHTML;

        // Cria a regra Regex para cada váriavel
        const [dataArray] = Object.keys(this.data);
        const regexRule = new RegExp(`\\{\\{\\s*?(${dataArray})\\s*?\\}\\}`, 'g');

        // Substitui no elemento
        domElement.innerHTML = elementValue.replace(regexRule, this.data[dataArray]);
      }
    };

    var app = new ClasseJS({
      el: '#app',
      data: {
        mensagem: 'Olá Mundo!'
      }
    }); 
  </script>
</body>
</html>